# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      # Set the build version number
      - name: Set Version
        run: echo "PACKAGE_VERSION=$(date +'%Y.%m.%d').$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
      
      # Setup build to use Java
      - name: Set up JDK11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          
      # Install Octopus action
      - name: Install Octopus CLI
        uses: OctopusDeploy/install-octopus-cli-action@v1.1.1
        with:
          version: latest

      # Create artifacts folder
      - name: Create artifacts folder
        run: mkdir "$GITHUB_WORKSPACE/artifacts"

      # Build Spring CRM using maven
      - name: Build Spring CRM
        run: |
          mvn clean package -Pwar -Dproject.versionNumber=$PACKAGE_VERSION -DdatabaseServerName=${{ vars.DATABASE_SERVER_NAME }} -DdatabaseName=${{ vars.DATABASE_NAME }} -DskipTests -DdatabaseUserName=${{ vars.DATABASE_USER_NAME }} -DdatabaseUserPassword=${{ vars.DATABASE_USER_PASSWORD }}
          cp "$GITHUB_WORKSPACE/target/springcrm.web.$PACKAGE_VERSION.war" "$GITHUB_WORKSPACE/artifacts/springcrm.web.$PACKAGE_VERSION.war"
          
      # Package flyway
      #- name: Package Flyway scripts
      #  run: |
      #    octo pack --id="springcrm.db" --format="Zip" --version="$PACKAGE_VERSION" --basePath="$GITHUB_WORKSPACE/flyway" --outFolder="$GITHUB_WORKSPACE/artifacts"
          
      - name: Package database scripts
        uses: OctopusDeploy/create-zip-package-action@v3
        with:
          package_id: 'springcrm.db'
          version: $PACKAGE_VERSION
          output_folder: $GITHUB_WORKSPACE/artifacts
          base_path: $GITHUB_WORKSPACE/flyway
          files: |
            **/*.*

      # Push packages to octopus deploy
      - name: Push packages to Octopus
        run: |
          octo push --package="$GITHUB_WORKSPACE/artifacts/springcrm.web.$PACKAGE_VERSION.war" --server="${{ vars.OCTOPUS_SERVER_URL }}" --apiKey="${{ secrets.OCTOPUS_API_KEY }}" --space="${{ vars.OCTOPUS_SERVER_SPACE }}"
          octo push --package="$GITHUB_WORKSPACE/artifacts/springcrm.db.$PACKAGE_VERSION.zip" --server="${{ vars.OCTOPUS_SERVER_URL }}" --apiKey="${{ secrets.OCTOPUS_API_KEY }}" --space="${{ vars.OCTOPUS_SERVER_SPACE }}"      